[
    {
        "question": "What is Onyx?",
        "ground_truth": [
            {
                "doc_source": "web",
                "doc_link": "https://docs.onyx.app/more/use_cases/overview"
            },
            {
                "doc_source": "web",
                "doc_link": "https://docs.onyx.app/more/use_cases/ai_platform"
            }
        ],
        "categories": [
            "keyword",
            "broad",
            "easy"
        ]
    }
]